<!-- /views/layout.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>Rock-Paper-Scizzors</title>

    <style>

    </style>
  </head>

  <body>
    <div class="navbar">
      <div><a href="/rock">Play Rock</a></div>
      <div><a href="/paper">Play Paper</a></div>
      <div><a href="/scissors">Play Scissors</a></div>
    </div>

    <%=yield%>
  </body>
  <footer>
    <div><a href="/">Rules</a></div>
  </footer>
</html>
